body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    position: relative;
}

h1 {
    font-size: 28px;
    margin-bottom: 0;
}

header a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header a:hover {
    color: #0056b3;
}

header div {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

article {
    width: 65%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #007BFF;
    padding: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #0056b3;
}

.step-image img {
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.step-image img:hover {
    transform: scale(1.1);
}

/* Dodajte stil za skritje dodatnega vsebina */
.hidden {
    display: none;
}

/* Dodajte stil za novi del spletnega mesta */
#new-website-content {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#new-website-content h2 {
    color: #007BFF;
}

#new-website-content p {
    color: #555;
    font-size: 18px;
}

#new-website-content a {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#new-website-content a:hover {
    background-color: #0056b3;
}
